@model List<EvaluationCrm.Models.entity.Lead>
@{
    ViewData["Title"] = "Leads";
}

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="display-4">Leads</h1>
        <button class="btn btn-primary">
            <i class="bi bi-plus-lg"></i> Nouveau lead
        </button>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Employee</th>
                        <th>Status</th>
                        <th>Meeting</th>
                        <th>Created At</th>
                        <th>Expense</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var lead in Model)
                    {
                        <tr>
                            <td>@lead.LeadId</td>
                            <td>@lead.Name</td>
                            <td>@lead.Phone</td>
                            <td>@lead.Employee?.Username</td>
                            <td>@lead.Status</td>
                            <td>@lead.MeetingId</td>
                            <td>@lead.CreatedAt</td>
                            <td>@lead.Expense?.Amount</td>
                            <td>
                                @if (lead.Expense != null)
                                {
                                    <a href="@Url.Action("Edit", "Expense", new { leadId = lead.LeadId, expenseId = lead.Expense?.ExpenseId })"
                                       class="btn btn-warning">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                }
                                <a href="@Url.Action("Delete", "Lead", new { leadId = lead.LeadId })"
                                   class="btn btn-danger">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>